*{
    margin: 0;
    padding: 0;
    float: none;
}

body{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7e7b7d;
}

#section-left{
    width: 640px;
    height: 1000px;
    background: #FFB9C7;
    float: left;
}

#sectionRight {
    width: 640px;
    height: 1000px;
    background: #96a4ff;
    float: right;
}
#section-right-top {
    width: 640px;
    height: 500px;
    background: #96a4ff;
    float: right;
}
#section-right-bottom {
    width: 640px;
    height: 500px;
    background: #7eff61;
    float: right;
}