<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-post-fix.js"></script>
    <script>
        /*$(document).ready(function(){
         $(document).on("submit", "#sign", function(){
         var fName = $("#f-name").val();
         var lName = $("#l-name").val();
         var fatherName = $("#father-name").val();
         var groupName = $("#group-name").val();
         var login = $("#user-login").val();
         var password = $("#user-password").val();
         $.post("/php/registration.php", {
         registration : "",
         fname : fName,
         lname : lName,
         fathername : fatherName,
         groupname : groupName,
         login : login,
         password : password
         }, function(req){
         //alert(req);
         if(req == 'true') {
         alert("вы зарегистрированы");
         window.location.href = "/index.html";
         } else {
         alert(req);
         }
         });
         return false;
         })
         });*/

        var app = angular.module('app', ['httpPostFix']);

        app.controller('mainCtrl', function ($scope, $http) {

            $scope.signUp = function () {
                $http({
                    method: "POST",
                    url: '../php/registration.php',
                    data: {
                        registration: "",
                        fname: $scope.fname,
                        lname: $scope.lname,
                        fathername: $scope.fathername,
                        groupname: $scope.groupname,
                        login: $scope.login,
                        password: $scope.password
                    }
                }).success(function (req) {
                    if (req == 'true') {
                        alert("вы зарегистрированы");
                        window.location.href = "/angular/index.html";
                    } else {
                        alert(req);
                    }
                });

                return false;
            }
        });


    </script>
</head>
<body ng-app="app">
<form id="sign" ng-submit="signUp()" ng-controller="mainCtrl">
    <input type="text" ng-model="fname" placeholder="имя" pattern="[A-Za-zА-Яа-яЁё]{4,24}" required><br>
    <input type="text" ng-model="lname" placeholder="фамилия" pattern="[A-Za-zА-Яа-яЁё]{5,24}" required><br>
    <input type="text" ng-model="fathername" placeholder="отчество" pattern="[A-Za-zА-Яа-яЁё]{5,24}"
           required><br>
    <input type="text" ng-model="groupname" placeholder="группа" pattern="[A-za-zА-Яа-яЁё0-9\-]{3,24}"
           required><br>
    <input type="text" ng-model="login" placeholder="логин" pattern="[A-Za-z0-9]{5,24}" required><br>
    <input type="password" ng-model="password" placeholder="пароль" pattern="[A-Za-z0-9]{5,24}"
           required><br>
    <input type="submit" value="зарегистрироваться">
</form>
<a href="index.html">авторизация</a>
</body>
</html>