<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="private">
    <title>Title</title>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-post-fix.js"></script>
    <script>
        /*
         $(document).on("submit", "#teacher-auth", function(){
         var login = $("[name='login']").val();
         var password = $("[name='password']").val();
         $.post("php/authorization.php", {
         user : "teacher",
         login: login,
         password: password
         }, function (req) {
         if (req == "true")
         window.location.href = "/controlpanel.html";
         else {
         alert(req);
         }
         });
         return false;
         });
         */
        var app = angular.module('app', ['httpPostFix']);

        app.controller('mainCtrl', function ($scope, $http) {
            $scope.authTeacher = function () {
                $http({
                    method: "POST",
                    url: '../php/authorization.php',
                    data: {
                        user: "teacher",
                        login: $scope.login,
                        password: $scope.password
                    }
                }).success(function (req) {
                    if (req == 'true') {
                        window.location.href = "/angular/controlpanel.html";
                    } else {
                        alert(req);
                    }
                });
                return false;
            };
        });
    </script>
</head>
<body ng-app="app">
<form id="teacher-auth" ng-submit="authTeacher()" ng-controller="mainCtrl">
    <input type="text" ng-model="login" pattern="[A-Za-z0-9]{5,24}" placeholder="Логин" required/>
    <input type="password" ng-model="password" pattern="[A-Za-z0-9]{5,24}" placeholder="Пароль" required/>
    <input type="submit" value="Авторизация">
</form>
</body>
</html>