/*
.section-left{ !*center*!
    background: #FFB9C7;
    height:100%;
}
.section-center {
    background: #96a4ff;
    height:100%;
    position: relative;
}
.section-right {
    background: #7eff61;
}*/
html, body {
    background-color: #DBDBDB;
    width: 100%; /*delete*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}

#container {
    width: 100%;
    height: 700px;
    border-top: 1px solid #ACACAC;
}

.section-left {
    background: #DBDBDB;
    width: 25%;
    float: left;
    min-height: 100%;
}

.section-center {
    background: #EEEEEE;
    width: 49.5%;
    min-height: 100%;
    float: left;
    border-right: 1px solid #ACACAC;
    border-left: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
}

.section-right {
    background: #DBDBDB;
    width: 25%;
    min-height: 100%;
    float: left;
}

.bs-callout {
    /*! margin:20px 0; */
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    /*! background-color:#d9edf7; */
    border-color: #5cb85c;
    /*! color: #31708f; */
}

.bs-callout-info h4 {
    color: #3c5041;
}

#name-of-task {
    margin: 2% 0 2% 2%;
    width: 50%;
}

/*   //////////////   body   //////////////   */

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

#create-task-container {
    width: 90%;
}

.yellow-sec-left {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.tasks-list:hover {
    background-color: #939393;
    color: #fff;
}

#tasks-list-background {
    background-color: #FCF8E3;
    border-bottom: 1px solid #fff;

}

#tasks-list-background:hover {
    background-color: #fbfcb4;
}
