html, body {
    background-color: #DBDBDB;
    width: 100%; /*delete*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.bs-callout {
    /*! margin:20px 0; */
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    /*! background-color:#d9edf7; */
    border-color: #5cb85c;
    /*! color: #31708f; */
}

.bs-callout-info h4 {
    color: #3c5041;
}

#name-of-task {
    margin: 2% 0 2% 2%;
    width: 50%;
}

/*   //////////////   body   //////////////   */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

#create-task-container {
    width: 90%;
}

.yellow-sec-left {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.tasks-list:hover {
    background-color: #939393;
    color: #fff;
}

#tasks-list-background {
    background-color: #FCF8E3;
    border-bottom: 1px solid #fff;

}

#tasks-list-background:hover {
    background-color: #fbfcb4;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}

.completed-tasks-list:hover .badge {
    background-color: #fff;
    color: #939393;
}

.students-tasks > .badge {
    float: right
}

#calendar2 {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

#calendar2 thead tr:last-child {
    font-size: small;
    color: rgb(85, 85, 85);
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
    color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
    cursor: pointer;
}

#calendar2 tbody td {
    color: rgb(44, 86, 122);
}

#calendar2 tbody td:nth-child(n+7), #calendar2 .holiday {
    color: rgb(231, 140, 92);
}

#calendar2 tbody td.today {
    background: rgb(220, 0, 0);
    color: #fff;
}

.test-t{
    border: 1px solid #FCF8E3;
    cursor: pointer;
}

.test-t:hover{
    border: 1px solid #000;
    cursor: pointer;
}
