html, body {
    background-color: #DBDBDB;
    width: 100%; /*delete*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.bs-callout {
    /*! margin:20px 0; */
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    /*! background-color:#d9edf7; */
    border-color: #5cb85c;
    /*! color: #31708f; */
}

.bs-callout-info h4 {
    color: #3c5041;
}

.navbar-form {
    margin-left: 17.5%;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}

.completed-tasks-list:hover .badge {
    background-color: #fff;
    color: #939393;
}

.list-group-item > .badge {
    float: right
}

.completed-tasks-list:hover {
    background-color: #939393;
    color: #fff;
}

.tasks-list:hover {
    background-color: #939393;
    color: #fff;
}

